<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <title>todolist</title>
</head>

<body class="dark-theme">

    <div class="btn">
        <button class="add"> Add <i class="fa-solid fa-plus"></i></button>
    </div>

    <div class="canvas">
        <% if(allNotes.length > 0 ) { %>

            <% allNotes.forEach((note, index )=> { %>
                <form action="/delete" method="post" class="note" id="note-<%= index %>">
                    <input type='text' class="title" placeholder="Untitled" name="title" value="<%=note.title %>">
                    <button name="action" value="delete" class="icon delete" type="submit"><i class="fa-solid fa-trash"></i></button>
                    <input type="text" name="postId" hidden value="<%=index%>">
                    <textarea name="task" class="tasks"
                        placeholder="What you wish to do :>"><%= note.tasks %></textarea>
                </form>
                <% }) %>
                    <% } else { %>
                        <p>No notes available. Add one above!</p>
                        <% } %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.15"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.15/dist/Draggable.min.js"></script>
    <script type="module" src="/deploy.js"></script>
</body>

</html>