* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    margin: 0px;

}

body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#343436 0.75px, #e5e5f7 0.75px);
    background-size: 15px 15px;
    overflow: hidden;
}

.btn {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 50%;
    transform: translateX(-40%);
}

.add {
    position: relative;
    color: #e5e5f7;
    background-color: #343436;
    font-size: larger;
    font-weight: 600;
    padding: 15px;
    border: #343436 2px solid;
    border-radius: 50px;
    width: calc(100% + 20px);
    transition: 200ms ease-in-out;
}

.add:hover {
    color: #343436;
    background-color: #e5e5f7;
    border: #343436 2px dashed;
}

.add:active {
    scale: 0.95;
}

.canvas {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.note {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-items: center;
    /* width: 200px; */
    gap: 5px;
    padding: 20px;
    background-color: #f3f3f9;
    border: #59595c 1px solid;
    border-radius: 7px;
}

/* .note input {
    background: none;
    outline: none;
    border: none;
    margin: 4px;
    padding: 4px;
    border-bottom: #343436 1px solid;
    font-size: large;
} */


.note a i {
    color: #8c8c91;
}
.note a:hover i{
    color: #6e3291;
}

.note button {
    margin-top: 5px;
    padding: 5px;
    font-weight: 900;
    font-size: large;
    border-radius: 25px;
    background: #b78bd0;
    border: #59595c 1px solid;

}

.title { 
    grid-area: 1 / 1 / 2 / 2;
    background: none;
    outline: none;
    border: none;
    margin: 4px;
    padding: 4px;
    border-bottom: #343436 1px solid;
    font-size: large;
 }
.edit { grid-area: 1 / 2 / 2 / 3; }
.delete { grid-area: 1 / 3 / 2 / 4; }
.tasks { 
    field-sizing: content;
    grid-area: 2 / 1 / 3 / 4;
    background: none;
    outline: none;
    border: none;
    margin: 4px;
    padding: 4px;
    /* border-bottom: #343436 1px solid; */
    font-size: large;
 }
.submit { grid-area: 3 / 1 / 4 / 4; }